!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*$py.class
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.sage.py
*.so
*.spec
*.stTheme.cache
*.sublime-workspace
*.tmPreferences.cache
*.tmlanguage.cache
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Python
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.cache
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.directory
.dmypy.json
.eggs/
.env
.fseventsd
.fuse_hidden*
.history
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.netrwhist
.nfs*
.nox/
.pyre/
.pytest_cache/
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.vscode/*
.webassets-cache
/site
ENV/
GitHub.sublime-settings
Icon
MANIFEST
Network Trash Folder
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.ca-list
Package Control.cache/
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
Session.vim
Temporary Items
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
__pycache__/
bh_unicode_properties.cache
build/
celerybeat-schedule
coverage.xml
db.sqlite3
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
nosetests.xml
oscrypto-ca-bundle.crt
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-selfcheck.json
pip-wheel-metadata/
profile_default/
pyvenv.cfg
sdist/
sftp-config.json
share/python-wheels/
tags
target/
var/
venv.bak/
venv/
wheels/
