<!DOCTYPE html>
<html>
    <head>
        <title>StreamD</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ context.css }}">
        <link rel="stylesheet" href="{{ context.prismcss }}" />
    </head>

    <body>
        <header>
            <a class="logo">streamd.sh/<small id="repoId">{{ context.id }}</small></a>
        </header>

        <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <ul id="maindir"></ul>
                </div>

                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm">
                            <article id="source">
                                <pre><code class="language-c"></code> </pre>
                            </article>
                        </div>
                    </div>
                    <div class="row" id="progress-bar">
                        <div class="col-sm">


                            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">


                        </div>
                        <button disabled class="secondary">Sync</button>

                    </div>

                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm">
                            <aside id="chat">
                                <ul id="ul-chat">
                                    <li>
                                        <h5>ludeed @ <input type="button" id="commit-text" 
                                                                          onClick="changeCommit(this.value)" value="AL51jc"></h5>
                                        <p>isto não faz sentido nenhum. não brinquem comigo deficientes</p>
                                    </li>
                                    <li>
                                        <h5>ludeed @ <input type="button" id="commit-text" 
                                                                          onClick="changeCommit(this.value)" value="AL51jc"></h5>
                                        <p>isto não faz sentido nenhum. não brinquem comigo deficientes</p>
                                    </li>
                                </ul>
                        </div>
                    </div>
                    <div id="submit_msg" class="row">
                        <div class="col-sm">
                            <input id="msg_text" type="text" name="chat_text">
                            <input id="msg_btn" type="button" value="Send" onclick="sendText('{{ context.id }}')">
                            @
                            <input style="width:100px"id="msg_commit" type="text" name="chat_text">
                            </button>
                        </div>
                    </div>

                            </aside>
                </div>

                <input type="checkbox" id="modal-control" class="modal">
                <div>
                    <div class="card">
                        <label for="modal-control" class="modal-close" ></label>
                        <h3 class="section">username:</h3>
                        <input id="username_text" type="text" name="username">
                        <input id="msg_btn" type="button" value="Ok" onclick="sendUsername()"></button>
                    </div>
                </div>
        </main>
        <script src="{{ context.js }}"></script>
        <script src="{{ context.prismjs }}"></script>
        <script src="{{ context.main }}"></script>
    </body>
</html> 

