<!DOCTYPE html>
<html>
    <head>
        <title>StreamD</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ context.css }}">
        <link rel="stylesheet" href="{{ context.prismcss }}" />
    </head>

    <body>
        <header>
            <a class="logo">streamd.sh/<small id="repoId">{{ context.id }}</small></a>
        </header>

        <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <ul id="maindir"></ul>
                </div>

                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm">
                            <article id="source">
                                <pre><code class="language-c"></code> </pre>
                            </article>
                        </div>
                    </div>
                    <div class="row" id="progress-bar">
                        <div class="col-sm">


                            <input type="range" min="1" max="100" value="100" class="slider" id="myRange">


                        </div>
                        <button id="syncbtn" class="secondary">Sync</button>

                    </div>

                </div>
       </main>
        <script src="{{ context.prismjs }}"></script>
        <script src="{{ context.main }}"></script>
    </body>
</html> 

