<!DOCTYPE html>
<html>
  <head>
    <title>StreamD</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link href="styles/prism.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <h1>streamd.sh/<span>foobar</span></h1>
    </header>

    <main>
      <aside id="tree">
        <ul id="myUL">
          <li id="maindir"><span class="caret">Project Files</span></li>
        </ul>
      </aside>

      <article id="source">
        <pre><code></code></pre>
      </article>

      <aside id="chat">
        <ol>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
        </ol>

        <div id="submit_msg">
          <input id="msg_text" type="text" name="chat_text">
          <input id="msg_btn" type="button" value="Send"></button>
        </div>
      </aside>
    </main>

    <script src="scripts/prism.js"></script>
    <script src="scripts/ui.js"></script>
    <script src="main.js"></script>
  </body>
</html>
